/* .prediction_page_layout{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.Predict {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #f5f5f5;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
} */




.prediction-page {
    /* padding: 20px; */
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f5f5f5;
    width: 100vw;
    padding-bottom: 20px;
    border-radius: 8px;
    margin-bottom: 50px;
  }
  
  /* .back-button {
    cursor: pointer;
    color: blue;
    margin-bottom: 10px;
    text-decoration: underline;
  } */
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .prediction-form-container {
    width: 100%;
    max-width: 500px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

 .prediction-form-container h3 {
    color: #0056b3;
 }
 
  
  .prediction-form-container label {
    margin-bottom: 5px;
  }
  
  .prediction-form-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .prediction-form-container button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: rgb(38, 82, 143);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 1;
  }
  
  .prediction-form-container button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
  }
  
  .subtitle {
    font-size: 20px;
    margin-top: 20px;
  }

.table-container {
    overflow-x: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .prediction-page table {
    width: 100%;
    max-width: 1500px;
    border-collapse: collapse;
    margin-top: 20px;
    align-items: center;
  }
  
  .prediction-page table, th, td {
    border: 1px solid #ddd;
  }
  
  .prediction-page th, td {
    padding: 10px;
    text-align: left;
  }
  
  .prediction-page th {
    background-color: #f2f2f2;
  }
  