#page_layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.title
{
  font-size: 30px;
  /* margin-bottom: 20px; */
  color: #0056b3;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; /* Adjust the height as needed */
  z-index: 999;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* .back-button {
  margin-top: 30px;
  margin-left: 20px;
  cursor: pointer;
  color: blue;
  margin-bottom: 10px;
  text-decoration: underline;
} */

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  padding: 12px 20px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #007bff;
  color: #e2eef0;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
} 

h2 {
  font-size: 30px;
  /* margin-bottom: 20px; */
  color: #0056b3;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
  
main {
  flex: 1;
  margin-top: 60px; 
}


footer {
  clear: both;
  display: block;
  background-color: #f5f5f5;
  padding: 40px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin-bottom: 10px;
}

.footer-content ul {
  display: block;
  list-style: none;
  padding: 0;
  display: flex;
}


.footer-content ul li {
  margin-right: 10px;
}





.back-button {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 6px 20px;
  color: #1e6ec5; /* Blue text color */
  background-color: #fff; /* White background color */
  border: 1.5px solid rgb(38, 82, 143) ; 
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  text-decoration:none; /* Ensures no underline */
  font-size: 16px;
  font-weight: bold;
  display: inline-block; /* Makes it act like a button */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.back-button:hover {
  background-color: rgb(38, 82, 143) ; /* Blue background on hover */
  color: #fff; /* White text color on hover */
}

.back-button:active {
  background-color: gb(38, 82, 143); /* Darker blue when clicked */
  border-color: rgb(38, 82, 143) ; /* Darker blue border when clicked */
}

.back-button:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 5px rgb(38, 82, 143) ; /* Add a blue shadow */
}
