.pareto-analysis-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: center;
  }
  
  .back-button {
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  