/* SurveyList.css */

.SurveyList {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .SurveyList h1 {
    font-size: 24px;
    color: #333;
    text-align: right;;
    margin-bottom: 20px;
    padding-right: 1%;
    padding-bottom: 11px;
    padding-top: 9px;
    border-style: solid;
    border-radius: 5px;
    border-color: #1e6ec5;
    box-shadow: 3px 3px 10px 3px #999;
    

  }
  
  .SurveyList ul {
    list-style-type: none;
    padding: 0;
  }
  
  .SurveyList .survey-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #9a9a9a;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    
  }
  
  .SurveyList .survey-item:hover {
    background-color: #e9e9e9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .SurveyList .survey-title {
    font-size: 18px;
    color: #454545;
    font-weight: bolder;
  }
  
  .SurveyList .survey-date {
    font-size: 14px;
    color: #454545;
    font-weight: bolder;
  }
  